<div class="container-fluid">
    <header class="header">
        <div class="action-buttons">
            <a class="btn btn-outline-light action" [routerLink]="['/auth']">
                Sign In
            </a>
        </div>
        <div class="logo-box">
            <img src="../../assets/img/logo.png" alt="Logo Image" class="logo">
        </div>
        <div class="text-box">
            <h1 class="headig-primary">
                <span class="heading-primary-main">Welcome to <span>ROCKSPACE</span></span>
                <span class="heading-primary-sub">Your personal assistant in affiliate marketing</span>

            </h1>
            <div>

            </div>
            <a class="btn btn-outline-light action" [routerLink]="['/auth']">
                Sign In
            </a>
            <a class="btn btn-outline-light action" [routerLink]="['/auth']">
                Register
            </a>
        </div>
    </header>
</div>
<div class="container what-we-do">
    <h2>What We Do</h2>
    <div class="row">
        <div class="card-container col-lg-4 col-md-6">
            <div class="card ">
                <img class="card-img-top" src="../../assets/img/login.jpg" alt="Card image cap">
                <div class="overlay">
                    <div class="text">Learn More</div>
                </div>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>
        </div>

        <div class="card-container col-lg-4 col-md-6">
            <div class="card ">
                <img class="card-img-top" src="../../assets/img/login.jpg" alt="Card image cap">
                <div class="overlay">
                    <div class="text">Learn More</div>
                </div>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>
        </div>
        <div class="card-container col-lg-4 col-md-6">
            <div class="card ">
                <img class="card-img-top" src="../../assets/img/login.jpg" alt="Card image cap">
                <div class="overlay">
                    <div class="text">Learn More</div>
                </div>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>
        </div>
        <div class="card-container col-lg-4 col-md-6">
            <div class="card ">
                <img class="card-img-top" src="../../assets/img/login.jpg" alt="Card image cap">
                <div class="overlay">
                    <div class="text">Learn More</div>
                </div>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>
        </div>
        <div class="card-container col-lg-4 col-md-6">
            <div class="card ">
                <img class="card-img-top" src="../../assets/img/login.jpg" alt="Card image cap">
                <div class="overlay">
                    <div class="text">Learn More</div>
                </div>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>
        </div>
        <div class="card-container col-lg-4 col-md-6">
            <div class="card ">
                <img class="card-img-top" src="../../assets/img/login.jpg" alt="Card image cap">
                <div class="overlay">
                    <div class="text">Learn More</div>
                </div>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>
        </div>

    </div>


</div>

<div class="container our-story">
    <h2>Our Story</h2>
    <div class="row">
        <p>

            Magnam tempora architecto odit deleniti ea optio veniam reiciendis similique nam, officiis dolor cupiditate
            maiores facere ab eveniet exercitationem esse, dolorum veritatis. Saepe quas aliquam sapiente tenetur libero
            dignissimos sunt.
            Aliquam illum esse sit laborum, quo placeat pariatur. Quae maxime sed molestias quibusdam natus accusamus
            laboriosam expedita odit voluptatibus tempora, ipsum, repellendus pariatur deserunt eligendi distinctio
            quasi odio voluptates dolores!<br><br>

            Vitae, aliquid adipisci, reprehenderit magni doloremque a laborum rerum inventore cum laudantium, aperiam
            recusandae ab porro ad alias quia! Sequi earum maiores officia voluptates ut deserunt? Neque molestiae
            dolore dolores.
            Corporis doloribus, tenetur recusandae enim iste cum assumenda hic, repudiandae quas adipisci expedita saepe
            vitae ducimus accusamus nesciunt? Fugiat asperiores et assumenda veritatis aspernatur? Totam debitis
            similique voluptatibus accusantium hic!

            Porro libero aspernatur accusantium, temporibus quis adipisci quam necessitatibus ratione accusamus.
            Adipisci, laboriosam vero? Provident aliquid deleniti unde, facere hic sapiente, consectetur iure molestias
            adipisci iusto odio, expedita repellat nulla.
            <br><br>
            Magnam fugiat quis quae, doloribus dolorum, sed porro voluptatem nostrum quas totam voluptatibus
            reprehenderit praesentium sapiente maiores magni placeat. Accusamus quisquam corporis ipsum provident
            quibusdam sunt fugiat reprehenderit sit laudantium.
            Officia sequi non voluptates asperiores dicta distinctio corporis. Inventore molestiae eaque aut ad beatae
            expedita molestias eum. Commodi blanditiis id quo fugit debitis assumenda repudiandae natus iure odio culpa.
            Voluptatum?
            Nemo atque possimus praesentium rerum voluptatem dolor commodi? Vel doloremque obcaecati a quas beatae
            placeat quaerat repudiandae? Voluptate quisquam pariatur, deleniti eligendi adipisci est suscipit dolorum
            nobis, minus sapiente facere.


        </p>
    </div>


</div>

<div class="container-fluid footer">
    <section id="footer">
        <div class="container">
            <div class="row text-center text-xs-center text-sm-left text-md-left">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Site Map</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Our Products</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Market Prediction</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>HRM</a></li>
              
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Policies</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Cookie Policy</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Terms and Conditions</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Privacy Policy</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>

                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                    <ul class="list-unstyled list-inline social text-center">
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i
                                    class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
                
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                   
                    <p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="https://www.rockspace.com"
                            target="_blank">ROCKSPACE</a></p>
                </div>
                
            </div>
        </div>
    </section>
</div>